{% load static %}{# utiliza los archivos estaticos ose los que estan en la carpeta static #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">{# se carga el archivo style.css que esta en la carpeta static #}
    {%block styles%} {%endblock%}
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
</head>
<body>

    {% include 'layouts/partials/menu.html' %}

    <main>
        {% block contenido %}{% endblock %}
    </main>

    {% include 'layouts/partials/footer.html' %}

    {% block scripts %}{% endblock %}
</body>
</html>